.swiper {
    display: block;
    align-content: center;
    opacity: 10;
    background-color:  opacify($color: #fbf7c2, $amount: .01);
    height: 30em;
    width: 100vw;
        h1 {
          margin-top: 6em;
        }
}