.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ff5757;
  border-style: solid;
  border-color: #03989e;
  border-width: 6px;
  Height: 4vh;
  width: 100vw;
}
.footer a {
  color: black;
  font-weight: 500;
  font-size: large;
  text-decoration: underline;
}
.footer .logo {
  height: 3em;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #ff5757;
  border-style: solid;
  border-color: #03989e;
  Height: 15vh;
  width: 100vw;
}
.header .logo {
  height: 9em;
}

.swiper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/seamless-wave-pattern-in-blue-and-white-incomible.jpg);
  background-repeat: no-repeat;
  background-size: 1800px 1500px;
  object-fit: cover;
  border-style: solid;
  border-color: #03989e;
  border-width: 2px;
  height: 60vh;
  width: 100vw;
}
.swiper h2 {
  font-size: x-large;
  padding: 0.5em;
  padding-right: 1em;
  border-style: solid;
  text-decoration: underline;
  border-color: #03989e;
  border-width: 3px;
  border-radius: 5px;
  align-self: center;
  max-width: 4.5em;
  background-color: #e6e6db;
  margin: 2em;
}
.swiper h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 25%;
  left: 10%;
  right: 20%;
  bottom: 70%;
  min-height: 6.5em;
  min-width: 12em;
  padding: 1.25em;
  border-style: solid;
  border-color: #03989e;
  border-width: 3px;
  border-radius: 5px;
  background-color: #e6e6db;
}
.swiper h1 .raven {
  height: 2em;
}
.swiper h1 button {
  color: black;
  margin: 1rem;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  background: #fcc70b;
  border-style: dashed;
  border-color: rgb(255, 255, 0);
  height: 2.5em;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}
.swiper h1 button:hover {
  background: rgb(244, 244, 93);
  text-decoration: none;
}

h1 {
  margin: 1%;
  width: 80%;
}
@media (min-width: 420px) {
  h1 {
    width: 13em;
    font-size: 18px;
  }
}
@media (min-width: 530px) {
  h1 {
    width: 14em;
    font-size: 22px;
  }
}
@media (min-width: 600px) {
  h1 {
    width: 15em;
    font-size: 25px;
  }
}
@media (min-width: 720px) {
  h1 {
    width: 17em;
    font-size: 29px;
  }
}
@media (min-width: 850px) {
  h1 {
    width: 19em;
    font-size: 31px;
  }
}
@media (min-width: 1140px) {
  h1 {
    width: 24em;
    font-size: 33px;
  }
}
@media (min-width: 1300px) {
  h1 {
    width: 26em;
    font-size: 34px;
  }
}
@media (min-width: 1500px) {
  h1 {
    width: 28em;
    font-size: 35px;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border-style: solid;
  border-color: #03989e;
  border-width: 8px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  Height: 12vh;
  padding-left: 2em;
  padding-right: 2em;
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/seamless-wave-pattern-in-blue-and-white-incomible.jpg);
  background-repeat: no-repeat;
  background-size: 1800px 1500px;
  border-style: solid;
  border-color: #03989e;
  border-width: 4px;
}
.filter button {
  color: black;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 3px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 900;
  width: 18rem;
  height: 5.75rem;
  background: #e6e6db;
  border-color: #03989e;
  border-width: 3px;
  border-style: solid;
  padding: 20px 20px 20px 20px;
}
.filter button:hover {
  background: rgba(7, 175, 181, 0.4392156863);
  text-decoration: none;
}

.filter button {
  margin: 1%;
  width: 80%;
}
@media (min-width: 420px) {
  .filter button {
    width: 5rem;
    font-size: small;
  }
}
@media (min-width: 530px) {
  .filter button {
    width: 6.5rem;
    font-size: small;
  }
}
@media (min-width: 600px) {
  .filter button {
    width: 7.5rem;
    font-size: medium;
  }
}
@media (min-width: 720px) {
  .filter button {
    width: 9rem;
  }
}
@media (min-width: 850px) {
  .filter button {
    width: 11rem;
  }
}
@media (min-width: 1140px) {
  .filter button {
    width: 13rem;
  }
}
@media (min-width: 1300px) {
  .filter button {
    width: 15rem;
  }
}
@media (min-width: 1500px) {
  .filter button {
    width: 18rem;
  }
}

.like-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #ff5757;
  border-style: solid;
  border-color: #03989e;
  border-width: 4px;
  height: 6vh;
}
.like-bar button {
  color: black;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  margin: 1rem;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 900;
  background: #fcc70b;
  border-style: dashed;
  border-color: rgb(255, 255, 0);
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}
.like-bar button:hover {
  background: rgb(244, 244, 93);
  text-decoration: none;
}

.modal {
  height: 60vh;
  width: 60vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/seamless-wave-pattern-in-blue-and-white-incomible.jpg);
  border-style: solid;
  border-radius: 0.5em;
  border-color: #03989e;
  padding: 1em;
  z-index: 1000;
}
.modal .modal-head {
  margin-bottom: 2em;
}
.modal .modal-head img {
  height: 5em;
  margin: 1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #03989e;
}
.modal .modal-head button {
  float: right;
  border-style: solid;
  margin-top: 1em;
  border-radius: 0.5em;
  border-color: #03989e;
  border-width: 1.5px;
}
.modal h1 {
  align-self: center;
  font-size: 40px;
  max-width: 50vw;
  margin-bottom: 5em;
}
.modal a {
  float: bottom;
  font-weight: 600;
  color: black;
}
.modal .modal-foot {
  display: flex;
  justify-content: space-around;
}
.modal .modal-foot button {
  border-radius: 3px;
  font-family: Arial;
  font-size: 12px;
  font-weight: 600;
  background: #fcc70b;
  border-style: dashed;
  border-color: rgb(255, 255, 0);
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}
.modal .modal-foot button:hover {
  background: rgb(244, 244, 93);
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
