.footer {
    display: flex;
    flex-direction: row;
    background-color: #ff5757;
    border-style: solid;
    border-color: #03989e;
    border-width: 4px;
    Height: 4em;
    width: 100vw;
        .logo {
            height: 3em
        }
}

