.header {
    display: flex;
    flex-direction: row;
    background-color: #ff5757;
    border-style: solid;
    border-color: #03989e;
    Height: 9em;
    width: 100vw;
        .logo {
            height: 9em
        }
}