.swiper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/seamless-wave-pattern-in-blue-and-white-incomible.jpg);
  background-repeat: no-repeat;
  background-size: 2100px 1500px;
  object-fit: cover;
  border-style: solid;
  border-color: $border-color;
  border-width: 2px;
  height: 60vh;
  width: 100vw;
  
    h2 {
      display: flex;
      flex-wrap: wrap;
      font-size: x-large;
      padding: 0.5em;
      padding-right: 1em;
      border-style: solid;
      text-decoration: underline;
      border-color: $border-color;
      border-width: 3px;
      border-radius: 5px;
      align-self: center;
      max-width: 4.5em;
      background-color: $primary-color;
      margin: 2em;
    }
    .swipe-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: fixed;
      top: 25%;
      left: 10%;
      right: 20%;
      bottom: 70%;
      min-height: 8em;
      min-width: 15em;
      padding: 1.25em;
      border-style: solid;
      border-color: $border-color;
      border-width: 3px;
      border-radius: 5px;
      background-color: $primary-color;
    
  }
}

.but-box {
  button {
    color: black;
    border-radius: 3px;
    margin: .5em;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    background: $accent-color;
    border-style: dashed;
    border-color: rgba(255, 255, 0);
    height: 2.5em;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
  }
  button:hover {
    background: rgba(244, 244, 93);
    text-decoration: none;
  }

}

.raven {
  height: 2em;
}

h1 {
  margin: 1%;
  width: 80%;

  @include breakpoint(mobile) {
    width: 13em;
    font-size: 18px;
  }
  @include breakpoint(narrow) {
    width: 14em;
    font-size: 22px;
  }
  @include breakpoint(small) {
    width: 15em;
    font-size: 25px;
  }
  @include breakpoint(tablet) {
    width: 17em;
    font-size: 29px;
  }
  @include breakpoint(medium) {
    width: 19em;
    font-size: 31px;
  }
  @include breakpoint(large) {
    width: 24em;
    font-size: 33px;
  }
  @include breakpoint(wide) {
    width: 26em;
    font-size: 34px;
  }
  @include breakpoint(wider) {
    width: 28em;
    font-size: 35px;
  }
}
